.hover-2 {
    background: 
      linear-gradient(#1095c1 0 0) no-repeat
       calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
  }
  .hover-2:hover {
    --p: 100%;
    --t: .3s;
    color: #fff;
  }
  /* h3 {
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    margin:0;
    cursor: pointer;
    padding: 0 .07em;
  } */